body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	padding: 10px;
}

img {
	position: absolute;
	bottom: -1000px;
}

form {
	padding: 10px 25px;
	border: 1px solid hsl(10, 50%, 50%);
	background: hsl(190, 10%, 90%);
	margin-bottom: 10px;
}

#parameters {
	background: hsl(10, 50%, 90%);
	/* background-color: magenta; */
	overflow: auto;
	margin: 10px 0;
	border-radius: 3px;
	padding: 5px;
}

#left {
	margin-right: 80px;
}

.half {
	float: left;
}

label {
	display: block;
}

button {
	display: block;
	margin-top: 20px;
	padding: 15px;
}

input[type="number"] {
	display: block;
	padding: 5px;
	max-width: 100px;
	margin-bottom: 10px;
}

textarea {
	display: block;
}

#status {
	width: 1%;
	margin-bottom: 10px;
	background-color: lemonchiffon;
}

canvas {
	float: right;
	border: 1px solid black;
	padding: 5px;
	margin-right: 10px;
}

label {
	margin: 20px 0px;
	/* padding-left: 10px; */
}